include head
body
	include navbar
	.container#shift
		.row
			form#addForm
				h1 Add Post
				.form-group
					p
					input#addAddress.inputs(type='text' name='address' placeholder='ADDRESS')
					p
					input#addTown.inputs(type='text' name='town' placeholder='TOWN')
					p
					input#addZipcode.inputs(type='text' name='zipcode' placeholder='ZIPCODE')
					p
					input#addHost.inputs(type='text' name='host' placeholder='HOST')
					p
					input#addNumber.inputs(type='tel' name='host' placeholder='PHONE NUMBER')
					p
				.addBtns.btn.btn-primary
					button(type='button' onclick='addPost()').aBtn.btn Add Post
		p
		b
		p
		b
		.row
			for obj, index in posts
				.col-md-4.shift
					.post
						.map
							img(border="0", src=obj.getMapUrl(), usemap="#map")
						.description
							h4.address= obj.address
							.list
								.town= '- ' + obj.town
								.host= '- Host: ' + obj.host 
							btn.reqBtn(index) Delete
					