include head
body
	include navbar
	.container#shift
		.row
			.col-md-4
				.post
					.box Box
						.map Map
			.col-md-4
				.post
					.box Box
						.map Map
			.col-md-4
				.post
					.box Box
						.map Map
	.container#shift
		.row
			.col-md-4
				.post
					.box Box
						.map Map
			.col-md-4
				.post
					.box Box
						.map Map
			.col-md-4
				.post
					.box Box
						.map Map