.navbar.navbar-expand-sm.bg-dark#navBg
	a.navbar-brand#navItem(href='/') GOLDEN STORAGE
	UL.navbar-nav
		li.navbar-item
			if auth
				a.nav-link#navItem(href='#')= 'HELLO ' + user
			else
				a.nav-link#navItem(href='#' data-toggle='modal' data-target='#testModal') HOST LOGIN / REGISTRATION
include sign