.navbar.navbar-expand-sm.bg-dark#navBg
	a.navbar-brand#navItem(href='/') GOLDEN STORAGE
	UL.navbar-nav
		li.navbar-item
			a.nav-link#navItem(href='#' data-toggle='modal' data-target='#testModal') HOST LOGIN / REGISTRATION
		//- li.navbar-item
		//- 	a.nav-link#navItem(href='#') BECOME A HOST